<div class="container" style="height: 100vh;">
  <div class="row justify-content-center h-100" style="align-items: center;">
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8">
      <div class="card-group">
        <div class="card p-4">
          <div class="card-body">
            <h1>Login</h1>
            <p class="text-muted">Sign In to your account</p>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="icon-user"></i>
                </span>
              </div>
              <input class="form-control" type="text" placeholder="Username">
            </div>
            <div class="input-group mb-4">
              <div class="input-group-prepend"><span class="input-group-text">
                  <i class="icon-lock"></i></span></div>
              <input class="form-control" type="password" placeholder="Password">
            </div>
            <div class="row">
              <div class="col-6">
                <button class="btn btn-primary px-4" type="button">Login</button>
              </div>
              <div class="col-6 text-right">
                <button class="btn btn-link px-0" type="button">Forgot password?</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
