.message {
  color: #4587ff;
  cursor: pointer;
}

.bg-color {
  background-color: #033670 !important;
}

.manage-que {
  color: #fa8105db;
  cursor: pointer;
}

.manage-user {
  color: #15be15;
  cursor: pointer;
}

.delete-user {
  color: #ff6c6c;
  cursor: pointer;
}

@media only screen and (max-width: 576px) {
  .mob-btn {
    margin-bottom: 1rem;
  }
}
