<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="row">
    <div class="col">
        <h4 class="float-left">Manage Questions</h4>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body px-5 pt-4">
                <div class="row mb-2">
                    <div class="col">
                        <h4 class="float-left">Tenant Details</h4>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md">
                        <div class="row">
                            <div class="col-md-4">
                                Tenants Name <span class="mr-4" style="color: #ff7e7e">*</span>
                            </div>
                            <div class="col-md">{{tenantData?.tenantName}}</div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="row">
                            <div class="col-md-4">
                                Created Date <span class="mr-4" style="color: #ff7e7e">*</span>
                            </div>
                            <div class="col-md">{{tenantData?.createddatetime | date: 'dd/MM/yyyy'}}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div class="row">
                            <div class="col-md-4 p-3">
                                Client Logo <span class="mr-4" style="color: #ff7e7e">*</span>
                            </div>
                            <div class="col-md">
                                <img [src]="tenantData?.clientLogo" style="width: 100px">
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="row">
                            <div class="col-md-4 p-3">
                                Customer Logo <span class="mr-4" style="color: #ff7e7e">*</span>
                            </div>
                            <div class="col-md">
                                <img [src]="tenantData?.customerLogo" style="width: 100px" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form [formGroup]="addQuestionForm">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body px-5 pt-4">
                    <div class="row mb-3">
                        <div class="col">
                            <h4>Configure Questions</h4>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md">
                            <span class="font-weight-bold">Question Type</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <div class="row">
                                <div class="col-md-4 px-3 py-1">Migration Type</div>
                                <div class="col-md">
                                    <select class="form-control" placeholder="Select Migration Type" formControlName="migrationType" (change)="getQuestionList()">
                                        <option *ngFor="let i of migrationType" [value]="i.journeyPathID">
                                            {{ i.journeyName }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="row">
                                <div class="col-md-4 px-3 py-1">Phase Type</div>
                                <div class="col-md">
                                    <select class="form-control" placeholder="Select Phase" formControlName="phaseType" (change)="getQuestionList()">
                                        <option *ngFor="let i of phaseData" [value]="i">
                                          {{ i }}
                                        </option>
                                        </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4 no-gutters">
                        <div class="col-md-8"></div>
                        <div class="col-md-2 pr-2">
                            <button type="button" class="btn btn-lg btn-outline-primary w-100" (click)="onBackTenant()">
                                Back
                            </button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-lg btn-primary w-100" (click)="onAllSubmitQuestion()" [disabled]=" questionAddedList.length == 0 || addQuestionForm.invalid">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <!-- Question List -->
                <div *ngIf="questionAddedList.length != 0" dndDropzone
                dndEffectAllowed="copyMove"
                (dndDrop)="onDrop($event, questionAddedList)"
                class="dndList">
                <div dndPlaceholderRef class="dndPlaceholder">
                </div>
                    <div class="row bg-gray-200 mx-2 py-4 px-2 mb-4" *ngFor="let que of questionAddedList;let i=index"  [dndDraggable]="que"
                    dndEffectAllowed="move"
                    (dndStart)="onDragStart($event)"
                    (dndCopied)="onDragged(que, questionAddedList, 'copy')"
                    (dndLinked)="onDragged(que, questionAddedList, 'link')"
                    (dndMoved)="onDragged(que, questionAddedList, 'move')"
                    (dndCanceled)="onDragged(que, questionAddedList, 'none')"
                    (dndEnd)="onDragEnd($event)">
                        <div class="col-md-11">
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <h5>Question {{i + 1}}</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{que.Question}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 edit-text" (click)="editQustionList(que, i+1)">
                            Edit
                        </div>
                    </div>
                </div>
                <!-- Question Form -->
                <div class="row bg-gray-200 mx-2 mb-4 questionDiv" *ngIf="questionFormFlag">
                    <div class="col">
                        <form [formGroup]="questionFormArray">
                            <div class="row mx-4 pt-5">
                                <div class="col-md-2">
                                    <h5>Question  {{isEditForm ? currentEditIndex : questionAddedList.length + 1 }}</h5>
                                </div>
                                <div class="col-md-3">
                                    <select class="form-control" formControlName="queType" placeholder="Select" (change)="selectVal($event)">
                                            <option *ngFor="let i of questionType" [value]="i?.questionTypeID">
                                              {{ i?.questionTypeDefinition }}
                                            </option>
                                        </select>
                                </div>
                            </div>
                            <div class="row mx-4 mt-3">
                                <div class="col-md-2">
                                    <span>Question</span><span class="ml-2" style="color: #ff7e7e;">*</span>
                                </div>
                                <div class="col-md-10">
                                    <textarea id="textarea-input" name="textarea-input" rows="5" formControlName="question" class="form-control"></textarea>
                                    <!-- <input type="text" class="form-control" formControlName="question" /> -->
                                </div>
                            </div>
                            <div *ngIf="getQuestionTypeId == 1 || getQuestionTypeId == 2 || getQuestionTypeId == 3">
                                <div class="row mx-4 mt-3">
                                    <div class="col col-12 col-md-12">
                                        <h5>Answer</h5>
                                    </div>
                                </div>
                                <div class="row mx-4 mt-3">
                                    <div class="col-md-12" *ngFor="let ans of questionFormArray.get('answer')?.controls;let i = index;" [formGroup]="ans">
                                        <div class="row mb-4">
                                            <div class="col-11">
                                                <input type="text" class="form-control" style="width: 20%;" [placeholder]="placeholderText" [readonly]="readonlyInput" formControlName="value" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mx-4" >
                                    <div class="col-md-12">
                                        <button (click)="addMultiSelect()" *ngIf="addAnswerFlag" class="btn btn-link">
                                                <i class="fa fa-plus"></i>&nbsp;Add New Choice
                                            </button>
                                    </div>
                                </div>
                                <div class="row mx-4 mt-3">
                                    <div class="col-md-12">
                                        <h5>Ticket Priority</h5>
                                    </div>
                                </div>
                                <div class="row mx-4 mt-3">
                                    <div class="col-md-2">
                                        Priority Number
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-control" formControlName="ticket_priority">
                                                <option *ngFor="let i of priorityData" [value]="i?.priorityID">
                                                  {{ i?.priority }}
                                                </option>
                                            </select>
                                    </div>
                                </div>
                            </div>
                            <!-- Free Text Question Type -->
                            <div *ngIf="getQuestionTypeId == 4">
                                <div class="row mx-4 mt-3">
                                    <div class="col col-12 col-md-12">
                                        <h5>Answer</h5>
                                    </div>
                                </div>
                                <div class="row mx-4 mt-1">
                                    <div class="col-md-12">
                                        <textarea id="textarea-input" name="textarea-input" rows="5" formControlName="answer2" class="form-control" readonly></textarea>
                                    </div>
                                </div>
                                <div class="row mx-4 mt-3">
                                    <div class="col-md-12">
                                        <h5>Ticket Priority</h5>
                                    </div>
                                </div>
                                <div class="row mx-4 mt-3">
                                    <div class="col-md-2">
                                        Priority Number
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-control" formControlName="ticket_priority">
                                                <option *ngFor="let i of priorityData" [value]="i?.priorityID">
                                                  {{ i?.priority }}
                                                </option>
                                            </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row mt-5 pb-4 mx-3 no-gutters">
                            <div class="offset-md-8 col-md-2 pr-2">
                                <button type="button" class="btn btn-lg btn-outline-secondary w-100" (click)="closeQuestion()">
                                        Cancle
                                    </button>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-lg btn-primary w-100" (click)="saveQuestion()" [disabled]="!questionFormArray.valid">
                                        Save
                                    </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <!-- Add Button -->
                        <div class="row px-4 mb-2" *ngIf="!questionAddedList.length">
                            <div class="col-md">
                                <span class="font-weight-bold">Questions</span>
                            </div>
                        </div>
                        <div class="row px-4 mb-4" *ngIf="!questionAddedList.length">
                            <div class="col-md">
                                <span class="text-color-1 font-weight-bold">No Questions has been added</span>
                            </div>
                        </div>
                        <div class="row px-4">
                            <div class="col-md p-5 d-flex justify-content-center bg-gray-200">
                                <button type="button" class="btn btn-lg btn-success" (click)="addQuestion()" [disabled]="addQuestionFlag">
                                Add New Question
                                </button>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-8"></div>
                            <div class="col-md-2 pr-2">
                                <button type="button" class="btn btn-lg btn-outline-primary w-100" (click)="onBackTenant()">
                                    Back
                                </button>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-lg btn-primary w-100" (click)="onAllSubmitQuestion()" [disabled]=" questionAddedList.length == 0 || addQuestionForm.invalid">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
