.page-item.active {
    .page-link {
        background-color: #0f114b !important;
    }
}

.btn-primary {
    background-color: #0f114b !important;
    border-color: #0f114b !important;
}

.sidebar .nav-link .nav-icon {
    color: white;
}

.sidebar .nav-link.active .nav-icon {
    color: white;
}