// If you want to override variables do it here
@import "variables";
// Import styles
@import "~@coreui/coreui/scss/coreui";
// If you want to add something do it here
@import "custom";
@import "~font-awesome/css/font-awesome.css";
@import "node_modules/angular2-toaster/toaster";


.custom-pagination .ngx-pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
}

.custom-pagination .ngx-pagination .current {
  background-color: #0f114b;
}

.custom-pagination .ngx-pagination a {
  text-decoration: none;
}

.custom-pagination .ngx-pagination .disabled {
  cursor: not-allowed;
}

.custom-pagination .ngx-pagination li {
  border: 1px solid #c8ced3;
}
