<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div class="container-fluid p-0">

  <div class="row">
    <div class="col">
      <h4 class="float-left">Manage Batches</h4>
      <button type="button" class="btn float-right btn-back">Back</button>
    </div>
  </div>


  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col">
              <h4 class="float-left">User Details</h4>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-md">
              <div class="row">
                <div class="col-md-4">
                  Name <span class="mr-4" style="color: #ff7e7e">*</span>
                </div>
                <div class="col-md">Tenant 1</div>
              </div>
            </div>
            <div class="col-md">
              <div class="row">
                <div class="col-md-4">
                  Created Date <span class="mr-4" style="color: #ff7e7e">*</span>
                </div>
                <div class="col-md">02/08/2021</div>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-md">
              <div class="row">
                <div class="col-md-4">
                  Phone Number <span class="mr-4" style="color: #ff7e7e">*</span>
                </div>
                <div class="col-md">1234567891</div>
              </div>
            </div>
            <div class="col-md">
              <div class="row">
                <div class="col-md-4">
                  Email <span class="mr-4" style="color: #ff7e7e">*</span>
                </div>
                <div class="col-md">test@gmail.com</div>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-md">
              <div class="row">
                <div class="col-md-2">
                  Site ID <span class="mr-4" style="color: #ff7e7e">*</span>
                </div>
                <div class="col-md">ID 1</div>
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col">
              <h4 class="float-left">journey Level</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="card">
                <div class="card-header bg-completed">
                  <div class="font-weight-bold mb-3">
                    <span>Pre Journey</span>
                    <span class="float-right">Completed</span>
                  </div>
                  <div>
                    <span>No of Questions</span>
                    <span class="float-right">10</span>
                  </div>
                  <div>
                    <span>Completed Question</span>
                    <span class="float-right">10</span>
                  </div>
                  <div>
                    <span>Pending Question</span>
                    <span class="float-right">00</span>
                  </div>
                  <div>
                    <button type="button" class="btn btn-response mt-3">View Responses</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="card">
                <div class="card-header bg-progress">
                  <div class="font-weight-bold mb-3">
                    <span>In Progress</span>
                    <span class="float-right">In Progress</span>
                  </div>
                  <div>
                    <span>No of Questions</span>
                    <span class="float-right">10</span>
                  </div>
                  <div>
                    <span>Completed Question</span>
                    <span class="float-right">10</span>
                  </div>
                  <div>
                    <span>Pending Question</span>
                    <span class="float-right">00</span>
                  </div>
                  <div>
                    <button type="button" class="btn btn-response mt-3">View Responses</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="card">
                <div class="card-header bg-started">
                  <div class="font-weight-bold mb-3">
                    <span>Post Journey</span>
                    <span class="float-right">Not Started</span>
                  </div>
                  <div>
                    <span>No of Questions</span>
                    <span class="float-right">10</span>
                  </div>
                  <div>
                    <span>Completed Question</span>
                    <span class="float-right">10</span>
                  </div>
                  <div>
                    <span>Pending Question</span>
                    <span class="float-right">00</span>
                  </div>
                  <div>
                    <button type="button" class="btn btn-response mt-3">View Responses</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
            <div class="row mb-2">
              <div class="col">
                <h4 class="float-left">Pre Journey Responses Summary</h4>
              </div>
            </div>
            <div class="row mb-5">
              <div class="col-md">
                <div class="row">
                  <div class="col-md-12">
                    <div class="que-head">
                      <h5> Question 1</h5>
                    </div>
                    <div class="que-head"><span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis perferendis repudiandae quod ad optio laboriosam, impedit sit adipisc</span></div>
                    <div class="que-body">
                      <span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. eius, iure porro! At nam, rem architecto dolorum facilis quas!Lorem ipsum dolor sit amet consectetur adipisicing elit. eius, iure porro! At nam, rem architecto dolorum facilis quas!Lorem ipsum dolor sit amet consectetur adipisicing elit. eius, iure porro! At nam, rem architecto dolorum facilis quas!Lorem ipsum dolor sit amet consectetur adipisicing elit. eius, iure porro! At nam, rem architecto dolorum facilis quas!Lorem ipsum dolor sit amet consectetur adipisicing elit. eius, iure porro! At nam, rem architecto dolorum facilis quas!
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-5">
              <div class="col-md">
                <div class="row">
                  <div class="col-md-12">
                    <div class="que-head">
                      <h5> Question 2</h5>
                    </div>
                    <div class="que-head"><span>Please select your work location</span></div>
                    <div class="que-body">
                      <span>Florida</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-5">
              <div class="col-md">
                <div class="row">
                  <div class="col-md-12">
                    <div class="que-head">
                      <h5> Question 3</h5>
                    </div>
                    <div class="que-head"><span>Please select your work location</span></div>
                    <div class="que-body">
                      <span>Response not Received </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-5">
              <div class="col-md">
                <div class="row">
                  <div class="col-md-12">
                    <div class="que-head">
                      <h5> Question 4</h5>
                    </div>
                    <div class="que-head"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ut cum est adipisci excepturi ipsum perferendis. Soluta nam porro ipsum</span></div>
                    <div class="que-body">
                      <ol style="list-style-type:lower-alpha" class="que-ol">
                        <li>Ans 1</li>
                        <li>Ans 2</li>
                        <li>Ans 3</li>
                      </ol>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col">
      <button type="button" class="btn float-right btn-back">Back</button>
    </div>
  </div>
</div>


