
.btn-response{
  color: #23282c;
  background-color: #fff;
  border-color: #fff;
}

.bg-completed {
  color: #fff;
  background-color: #ec1b2e;
}

.bg-progress {
  color: #fff;
  background-color: #1b64ee;
}

.bg-started {
  color: #fff;
  background-color: #2db000;
}

.que-head {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.que-body {
  text-align: justify;
  justify-content: flex-start;
  display: flex;
}

.que-ol {
  padding-left: 15px;
}

.btn-back {
  color: #0f114b;
  border-color: #0f114b;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  font-weight: 700;
}

.btn-back:hover {
  color: #fff;
  background-color: #0f114b;
  border-color: #0f114b;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  font-weight: 700;
}
